In [186]:
import findspark
findspark.init()

In [187]:
from pyspark.sql import SparkSession
import matplotlib.pyplot as plt
from pyspark.sql.functions import isnan, when, count, col ,isnull
from pyspark.sql.functions import *
import pyspark

In [188]:
spark = SparkSession.builder.master("local[2]").appName("Google playstore app rating prediction").getOrCreate()

In [189]:
from pyspark.ml.regression import LinearRegression

In [190]:
#finding datatypes of features
import pandas as pd
#pd.set_option('max_colwidth', -1) # to prevent truncating of columns in jupyter

def count_column_types(spark_df):
    """Count number of columns per type"""
    return pd.DataFrame(spark_df.dtypes).groupby(1, as_index=False)[0].agg({'count':'count', 'names': lambda x: " | ".join(set(x))}).rename(columns={1:"type"})

In [191]:
count_column_types(h)

     type  count                                              names
0  bigint     13  Size | Last Updated | Rating | Content Rating ...

In [192]:
csvdf = spark.read.format("csv").option("header",True).option("inferSchema",True).load("C:\\Users\\Jaisriram\\Desktop\\desktop\\bigdata\\Google-Play-Store-master\\googleplaystore.csv")


csvdf.show()
def spark_shape(self):
    return (self.count(), len(self.columns))
pyspark.sql.dataframe.DataFrame.shape = spark_shape
csvdf.shape()

+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------------+------------------+------------+
|                 App|      Category|Rating|Reviews|Size|   Installs|Type|Price|Content Rating|              Genres|      Last Updated|       Current Ver| Android Ver|
+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------------+------------------+------------+
|Photo Editor & Ca...|ART_AND_DESIGN|   4.1|    159| 19M|    10,000+|Free|    0|      Everyone|        Art & Design|   January 7, 2018|             1.0.0|4.0.3 and up|
| Coloring book moana|ART_AND_DESIGN|   3.9|    967| 14M|   500,000+|Free|    0|      Everyone|Art & Design;Pret...|  January 15, 2018|             2.0.0|4.0.3 and up|
|U Launcher Lite â€“...|ART_AND_DESIGN|   4.7|  87510|8.7M| 5,000,000+|Free|    0|      Everyone|        Art & Design|    August 1, 2018|             1.2.4|4.0.3 and up|
|Sketch - Draw & P...|ART_AND_DESIGN|   4.5| 215644| 25M|50,000,000+|Free|    0|          Teen|        Art & Design|      June 8, 2018|Varies with device|  4.2 and up|
|Pixel Draw - Numb...|ART_AND_DESIGN|   4.3|    967|2.8M|   100,000+|Free|    0|      Everyone|Art & Design;Crea...|     June 20, 2018|               1.1|  4.4 and up|
|Paper flowers ins...|ART_AND_DESIGN|   4.4|    167|5.6M|    50,000+|Free|    0|      Everyone|        Art & Design|    March 26, 2017|               1.0|  2.3 and up|
|Smoke Effect Phot...|ART_AND_DESIGN|   3.8|    178| 19M|    50,000+|Free|    0|      Everyone|        Art & Design|    April 26, 2018|               1.1|4.0.3 and up|
|    Infinite Painter|ART_AND_DESIGN|   4.1|  36815| 29M| 1,000,000+|Free|    0|      Everyone|        Art & Design|     June 14, 2018|          6.1.61.1|  4.2 and up|
|Garden Coloring Book|ART_AND_DESIGN|   4.4|  13791| 33M| 1,000,000+|Free|    0|      Everyone|        Art & Design|September 20, 2017|             2.9.2|  3.0 and up|
|Kids Paint Free -...|ART_AND_DESIGN|   4.7|    121|3.1M|    10,000+|Free|    0|      Everyone|Art & Design;Crea...|      July 3, 2018|               2.8|4.0.3 and up|
|Text on Photo - F...|ART_AND_DESIGN|   4.4|  13880| 28M| 1,000,000+|Free|    0|      Everyone|        Art & Design|  October 27, 2017|             1.0.4|  4.1 and up|
|Name Art Photo Ed...|ART_AND_DESIGN|   4.4|   8788| 12M| 1,000,000+|Free|    0|      Everyone|        Art & Design|     July 31, 2018|            1.0.15|  4.0 and up|
|Tattoo Name On My...|ART_AND_DESIGN|   4.2|  44829| 20M|10,000,000+|Free|    0|          Teen|        Art & Design|     April 2, 2018|               3.8|  4.1 and up|
|Mandala Coloring ...|ART_AND_DESIGN|   4.6|   4326| 21M|   100,000+|Free|    0|      Everyone|        Art & Design|     June 26, 2018|             1.0.4|  4.4 and up|
|3D Color Pixel by...|ART_AND_DESIGN|   4.4|   1518| 37M|   100,000+|Free|    0|      Everyone|        Art & Design|    August 3, 2018|             1.2.3|  2.3 and up|
|Learn To Draw Kaw...|ART_AND_DESIGN|   3.2|     55|2.7M|     5,000+|Free|    0|      Everyone|        Art & Design|      June 6, 2018|               NaN|  4.2 and up|
|Photo Designer - ...|ART_AND_DESIGN|   4.7|   3632|5.5M|   500,000+|Free|    0|      Everyone|        Art & Design|     July 31, 2018|               3.1|  4.1 and up|
|350 Diy Room Deco...|ART_AND_DESIGN|   4.5|     27| 17M|    10,000+|Free|    0|      Everyone|        Art & Design|  November 7, 2017|               1.0|  2.3 and up|
|FlipaClip - Carto...|ART_AND_DESIGN|   4.3| 194216| 39M| 5,000,000+|Free|    0|      Everyone|        Art & Design|    August 3, 2018|             2.2.5|4.0.3 and up|
|        ibis Paint X|ART_AND_DESIGN|   4.6| 224399| 31M|10,000,000+|Free|    0|      Everyone|        Art & Design|     July 30, 2018|             5.5.4|  4.1 and up|
+--------------------+--------------+------+-------+----+-----------+----+-----+--------------+--------------------+------------------+------------------+------------+
only showing top 20 rows

(10841, 13)

In [193]:
#dropping duplicates
hel1=csvdf.dropDuplicates()
hel1.shape()
#ColumnRenamed('Current Ver', 'Cver').show()

#h1.show()

(10358, 13)

In [ ]:
#dropping null values
h1=hel1.na.drop()
#h1=hel.dropna()
h1.shape()
#csvdf.with

In [ ]:
h1.select([count(when(isnull(c) | isnan(c) , c)).alias(c) for c in h1.columns]).show()

In [ ]:
import seaborn as sns
test_df = csvdf.toPandas()
plt.figure(figsize=(7, 5))
sns.heatmap(test_df.isnull(), cmap='viridis')
test_df.isnull().any()
#from pyspark.sql.functions import *
#hel=h1.withColumn('Cver', regexp_replace('Cver', 'NaN' ,'Null'))
#hel.dropna()
#hel.shape()
#hel.select([count(when(isnan(c), c)).alias(c) for c in hel.columns]).show()
#h2=hel.withColumn('Cver', regexp_replace('Cver', 'NaN' ,''))
#h3=hel.withColumn('Android Ver', regexp_replace('Android Ver', 'NaN' ,''))

In [ ]:
#newDf1=hel.dropna()
#h1.select([count(when(isnan(c), c)).alias(c) for c in h1.columns]).show()
#h12=h2.select([count(when(isnan(c), c)).alias(c) for c in h2.columns]).show()
#h2.dropna()
#h2.shape()
#h1.select([count(when(isnull(c), c)).alias(c) for c in df.columns]).show()

In [ ]:
#df=csvdf.dropna()
#df=h.replace(float('NaN'),None)
#df.shape()
#df.registerTempTable("da3")
#res1 = spark.sql('select * from da3 where (Rating == "NaN")')
#res1.shape()
#res1.show()

In [ ]:
#val rows = csvdf.filter(Rating=> Rating != "NaN")

#new = csvdf.filter((csvdf.Rating != 'NaN'))
#new.show()
#new.shape()

In [ ]:
#hel.registerTempTable("da2")
#res = spark.sql('select * from da2 where (Tpye == "Null")')

In [ ]:
I have a dataset with missing values , I would like to get the number of missing values for each columns. Following is what I did , I got the number of non missing values. How can I use it to get the number of missing values?

In [ ]:
I have a dataset with missing values , I would like to get the number of missing values for each columns. Following is what I did , I got the number of non missing values. How can I use it to get the number of missing values

In [ ]:
I have a dataset with missing values , I would like to get the number of missing values for each columns. Following is what I did , I got the number of non missing values. How can I use it to get the number of missing values

In [ ]:
#pip install missingno

In [ ]:

#test_df = csvdf.toPandas()
#test_df = test.toPandas()
#sns.lineplot(x = "Rating", y = "Type" , hue = "CRating", data = test_df)

In [ ]:

#csvdf.where(col("CRating").isNull()).count()

In [ ]:
#csvdf.filter("Rating is null")
#csvdf.filter(csvdf.Rating.isnan()).count()

#csvdf.where(col("Rating").isnan()).count()